{% unless page.is_index -%}
  {%- assign sibling_pages = site.pages | sort: "order" | where: "dir", page.dir -%}
  {%- assign indices = sibling_pages | where: "is_index", true -%}
  {%- assign index_page = indices[0] -%}
  <table class="foot-table">
    <tr>
      <th>
        <a href="{{ index_page.url | relative_url }}">{{ index_page.title }}</a>
      </th>
    </tr>
    <tr>
      <td>
        {% for other_page in sibling_pages -%}
          {%- unless other_page.is_index -%}
            {%- if other_page.order == page.order -%}
              <b>{{ other_page.title }}</b>
            {%- else -%}
              <a href="{{ other_page.url | relative_url }}">{{ other_page.title }}</a>
            {%- endif -%}
            {%- unless forloop.last %} | {% endunless -%}
          {% endunless -%}
        {%- endfor %}
      </td>
    </tr>
  </table>
  <br>
{%- endunless %}
