---
---

@import "{{ site.theme }}";

.site-footer {
  font-size: 0.8rem;
}

table.foot-table {
  font-size: 0.9rem;
  display: table;
  text-align: center;

  th {
    background: #159957;

    a {
      color: white;
    }
  }
}
